<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.3.2/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
    <ul class="relative">
        <li class="group relative">
            <a class="text-[14px] font-bold flex items-center group-hover:text-blue cursor-pointer">
                Departamento
            </a>

            <div class="w-full">
                <ul class="absolute left-0 bg-white shadow-md hidden group-hover:block z-12 pt-0">
                    <li class="relative group">
                        <div class="absolute h-[360px] w-[960px] left-0 top-0 bg-white z-11">
                            <span class="absolute top-4 left-4"><h3 class="font-bold text-[16px]">Departamento</h3></span>
                            <div class="flex">
                                <ul class="w-[240px] border-l-1 border-gray-200 pt-10">
                                    <li class="block px-4 py-2 text-sm text-blue font-bold">Categoria</li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                </ul>

                                <ul class="w-[240px] pt-10">
                                    <li class="block px-4 py-2 text-sm text-blue font-bold">Categoria</li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                </ul>

                                <ul class="w-[240px] pt-10">
                                    <li class="block px-4 py-2 text-sm text-blue font-bold">Categoria</li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                    <li><a href="#" class="block px-4 py-2 text-sm hover:text-blue">Categoria</a></li>
                                </ul>
                            </div>
                            <div class="flex absolute w-[236px] h-[298px] top-5 right-5">
                                <img src="../assets/img/menu-banner.png" alt="banner-menu">
                                <h5 class="absolute text-white text-[24px] font-[700] top-11 left-7 w-30 text-sm/7">
                                    Confira os Produtos Que acabaram De chegar</h5>
                                <button
                                    class="border-1 h-8 rounded-lg absolute text-white text-[12px] font-[700] bottom-14 left-7 w-30 text-sm/7">VER
                                    TODOS</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</body>

</html>