@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Nunito Sans", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.elipse {
    opacity: 0.3;
    transition: opacity 0.3s;
}


.elipse.active {
    opacity: 1;
}

.newsletter,
.contacts{
    background-color: #F5F5F5;
}

.contacts-links{
    border-top: 1px solid #DDDDDD;
}
.last-contact-link{
    border-top: 1px solid #DDDDDD; 
    border-bottom: 1px solid #DDDDDD;
}

.circle-arrow{
    border: 2px solid #005CFF;
    background-color: #FFFFFF;
    transition: 200ms;
}

.circle-arrow:hover{
    background-color: #508aec;
}

@media (min-width: 1024px) {
    .newsletter{
        background-color: #DEDEDE;
    }
    .contacts-links,
    .last-contact-link{
        border: none;
    }
    .payments{
        background-color: #F5F5F5;
    }
}